# Copyright (c) 2018-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (c) 2018-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the LICENSE file.

# Path match pattern to ignore specific files and directories.
# See https://eslint.org/docs/user-guide/configuring/ignoring-code for more details.

build/*
**/node_modules/*
!.eslintrc.js
!.remarkrc.js
