# Copyright (c) 2018-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (c) 2018-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the LICENSE file.

# npm repository-wide configurations.
# See https://docs.npmjs.com for more details.

# Do not create a lockfile.
package-lock=false

# Resolve to latest minor and patch updates.
save-exact=false
